.cart{
    margin-top: 40px;
    background-color: #eef8ef;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 33px 15px;
}
.cart h2{
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 38px;
    margin-left: 5px;
}
.cart .cart-item{
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}
.col-lg-4{
    margin: 10px -10px 10px 3px
}
.cart .cart-item img{
    width: 100%;
    height: 272px;
}
.cart-item-desc{
    padding: 15px;
    margin-top: 10px;
}
.cart-item-desc h5  {
    font-weight: bold;
}
.cart-item-desc p{
    color: #999292;
    margin-top: -5px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}
.cart-item-desc button{
    background: none;
    color: #519969;
    background-color: #eef8ef;
    width: 100%;
    padding: 7px;
    border: none;
    letter-spacing: 2px;
    outline: none !important;
}
.cart-item-desc button i {
    margin-right: 6px;
}
.fa-heart{
    position: absolute;
    top: 15px;
    right: 30px;
    color: #fff;
    cursor: pointer;
}
#noitems{
    width: 85%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    display: none;
}
@media(max-width:990px){
    .col-lg-4 {
        margin: 10px -10px 10px 0px;
    }
}
