.profil{
    margin-top: 40px;
    background-color: #eef8ef;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 33px 15px;
}
.profil h2{
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 38px;
    margin-left: 10px;
}
.profil .pro{
    background: #fff;
    margin: 10px;
    border-radius: 6px;
    padding: 25px 10px;
}
.profil .pro img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.pro1{
    margin-top: 6%;
}
#username{
    margin-top: 18px;
    font-size: 28px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #519969;
}
#email , #productLength , #edit{
    line-height: 32px;
    color: #999393;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 15px;
    margin-left: 13px;
}
#edit{
    text-decoration: none;
    font-size: 20px;
    color: #519969;    
}